[defaults]
inventory = ./inventory.yml
host_key_checking = True
retry_files_enabled = False
forks = 1
timeout = 30
gathering = smart
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
pipelining = True
